@model IEnumerable<SampleMvc.Models.employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Index</h2>


<p>
    <a class="btn btn-primary btn-sm " href="@Url.Action("Create")">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfJoining)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>

    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.EmployeeName)
    </td>
    <th>
        @Html.DisplayFor(modelItem => item.Password)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfBirth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfJoining)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNo)
    </td>

    <td>
        <a class="btn btn-primary btn-sm " style="margin-right:5px" href="@Url.Action("Edit",item )">Edit</a>
        <a class="btn btn-danger btn-sm" style="margin-right:5px" href="@Url.Action("Delete",item )">Delete</a>

    </td>
</tr>
    }

</table>
