@model IEnumerable<SampleMvc.Models.Vehicle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Index</h2>

<p>
    <a class="btn btn-primary btn-sm" href="@Url.Action("create")">Add New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehicleNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BodyType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BodyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mileage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngineType)
        </td>
        <td>
            <a class="btn btn-primary btn-sm" style="margin-right:5px" href="@Url.Action("Edit",item )">Edit</a>
            <a class="btn btn-danger btn-sm" style="margin-right:5px" href="@Url.Action("Delete",item )">Delete</a>           
        </td>
    </tr>
}

</table>
